<?xml version="1.0" encoding="UTF-8"?>
<!--
	Web application configuration for fhj-ws2014-sd12-pse project.<br>
	
	@author Lukas Kranabetter
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
					xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  				xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   				version="3.0">

	<display-name>fhj-ws2014-sd12-pse</display-name>
  <description>FH-Joanneum SWD12 practical software engeneering project.</description>
	
	<!-- Define the project start page. -->
	<welcome-file-list>  
		<welcome-file>index.jsf</welcome-file>  
	</welcome-file-list>
	
	<!-- Define the security constraint on this application -->
	<!-- TODO: Set url patterns of security constrains -->
	
	<!-- Public resources -->
	
	<security-constraint>
    <web-resource-collection>
    	<web-resource-name>Public resources for authenticated users</web-resource-name>
      <description>Public resources for authenticated users</description>
      <url-pattern>/resources/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
       <role-name>*</role-name>
    </auth-constraint>
    <user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
    	<web-resource-name>Public resources for guests</web-resource-name>
      <description>Public resources for guests</description>
      <url-pattern>/resources/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
  </security-constraint>
  
  <!-- Confidential resources -->
  
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Confidential resources for authenticated users</web-resource-name>
			<description>Confidential resources for authenticated users</description>
			<url-pattern>/user/login.jsf</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<!-- security-constraint>
		<web-resource-collection>
			<web-resource-name>Confidential resources for authenticated administrators</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Administrator</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint-->
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Confidential resources for guests</web-resource-name>
			<description>Confidential resources for guests</description>
			<url-pattern>/user/register.jsf</url-pattern>
			<url-pattern>/user/login.jsf</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<security-role>
		<role-name>*</role-name>
	</security-role>
	
	<!-- Configure login to FORM -->
	<login-config>
		<auth-method>FORM</auth-method>
		<!--<realm-name>RealmUsersRoles</realm-name>-->
		<form-login-config>
			<form-login-page>/user/login.jsf</form-login-page>
			<form-error-page>/error/403.xhtml</form-error-page> 
		</form-login-config>
	</login-config>
	
	<!-- Configure error message pages. -->
	<error-page>
		<error-code>403</error-code>
		<location>/error/403.xhtml</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.xhtml</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.xhtml</location>
	</error-page>
   
</web-app>